# This is the configuration file for create_gpg
# Note: this file must by interpre-able by bash

#MAIN_DIR=/full/path/to/some/directory
MAIN_DIR=$(pwd)

# Define a OpenPGP key ID (0x12345678) to sign the package
# If nothing is defined, the package will not be signed
SIGNING_KEY_ID=

# Define a certificate (common name) accessible in a Keychain to
# sign the installer package. If empty, the package is not signed
PKG_SIGN_CERT=""

# Define if 32-bit or 64-bit version should be built.
# valid values: 32 / 64
ABI=64

# various sub-paths; no need to change
MAIN_PREFIX=$MAIN_DIR/build$ABI
SRC_DIR=$MAIN_DIR/src
DIST_DIR=$MAIN_DIR/dist$ABI
REL_DIR=$MAIN_DIR/rel$ABI
INSTALL_DIR=$MAIN_DIR/inst


