TOOL=MacGPG2.1


version_parts=($(python -c <"$(dirname "${BASH_SOURCE[0]}")/libs.json" "import sys,json
print((item for item in json.loads(sys.stdin.read()) if item['name'] == 'gnupg').next()['version'].replace('.', ' '))"))
if [[ ${#version_parts[@]} -ne 3 || "${version_parts[0]}" != "2" ]]; then
	echo "Unable to get MacGPG2 version!" >&2
	exit 1
fi


MAJOR=2
MINOR=${version_parts[1]}
REVISION=${version_parts[2]}
PRERELEASE=b1
VERSION="${MAJOR}.${MINOR}${REVISION:+.$REVISION}-${PRERELEASE}"
