<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.gpgtools.shutdown-gpg-agent</string>
    
    <key>Program</key>
    <string>/usr/local/MacGPG2/libexec/shutdown-gpg-agent</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
      <key>SuccessfulExit</key>
      <true/>
    </dict>
    <key>ExitTimeOut</key>
    <integer>5</integer>
  </dict>
</plist>
